@import "nord.css";

.jumbotron {
    padding-top: 3rem;
}

@font-face {
    font-family: 'gloria font'; /*a name to be used later*/
    src: url('font/Caveat-VariableFont_wght.ttf'); /*URL to font*/
}

body {
    background-color: var(--nord6);
}

.btn-outline-primary {
    color: var(--nord10);
    border-color: var(--nord9);
}

.card {
    border-radius: 10px;
}

.rounded {
    border-radius: 10px;
}

#project-section .btn-outline-primary {
    border-color: var(--nord4);
    color: var(--nord4);
}

#project-section .btn-outline-primary:hover {
    background-color: var(--nord3);
}

#project-section .card-img-top {
    border-radius: 10px 10px 0 0;
}

#skills {
    padding-top: 80px; margin-top: -80px;
}

#about {
    padding-top: 80px; margin-top: -80px;
}

#project {
    padding-top: 70px; margin-top: -70px;
}

#contact {
    padding-top: 70px; margin-top: -70px;
}

/* Color */

.nav-bg-color {
    background-color: var(--nord5);
}

.blue-color {
    color: var(--nord10);
}

.grey-color{
    color: #8e9498;
}

.white-nord{
    color: var(--nord5);
}

.whitedark-nord{
    color: var(--nord4);
}

.darknord-bg {
    background-color: var(--nord0);
}

.darknord-lighter {
    background-color: var(--nord1);
}

.btn-primary {
    background-color: var(--nord10);
    border-color: var(--nord10);
}
.btn-primary:focus{background-color:var(--nord8);border-color: var(--nord8); color: var(--nord0);}
.btn-primary:hover{background-color:var(--nord8);border-color: var(--nord8); color: var(--nord0);}

/* font */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.font-handwrite {
    font-family: Bradley Hand, cursive; 
}

.font-clip {
    font-family: clip;
}

.font-big {
    font-size: 70px;
}

.my-name {
    font-family: 'Courgette', cursive;
}

/* responsive */

@media screen and (min-width: 908px) {
    .margin-section {
        margin-left: 120px;
        margin-right: 120px
    }
    .jumbotron {
        padding-top: 7rem;
    }
}

/* remove the white space on the right side caused by row */
.no-marginx {
    margin-right: 0px;
    margin-left: 0px;
}

/* overflow */
.hide-overflow {
    overflow: hidden;
}

/* icon */

.fa {
    color: var(--nord10);
}

.fab {
    color: var(--nord10);
}

.far {
    color: var(--nord10);
}
/* button */

.btn-circle {
    width: 45px;
    height: 45px;
    padding: 10px 0px;
    border-radius: 100%;
    text-align: center;
    border-radius: 100%;
    font-size: 23px;
}


/* blinking cursor */

.blinking-cursor {
    position: relative;
    display: inline-block;
}

.blinking-cursor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -11px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: var(--nord3);
  vertical-align: top;
  width: 9px;
  /* Set height to the line height of .text */
  height: 20px;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: typing 2s steps(22), blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
